/*
 Single Projects Page
*/
.single-projects .site-title a {
  color: #fff; }
  .single-projects .site-title a:hover {
    text-decoration: none; }

.single-projects .project-heading-code {
  padding-top: 4rem;
  padding-bottom: 2rem; }

.single-projects p.project-description {
  font-size: 1.3rem;
  color: #fff;
  font-family: "GT Pressura Mono"; }

.single-projects .wp-block-column.right-col {
  padding: 3rem; }

.single-projects #site-content section {
  padding: 2rem 0rem; }
