/**
 * placeholder-loading v0.2.5
 * Author: Zalog (https://www.zalog.ro/)
 * License: MIT
 **/
.ph-item {
  direction: ltr;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 15px 15px;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: none;
  border: 1px solid none;
  border-radius: 2px;
  width: 236px;
  margin: 0 auto; }

.ph-item,
.ph-item *,
.ph-item:after,
.ph-item:before {
  box-sizing: border-box; }

.ph-item:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 500%;
  margin-left: -250%;
  -webkit-animation: phAnimation .8s linear infinite;
  animation: phAnimation .8s linear infinite; }

.ph-item > * {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  padding-right: 15px;
  padding-left: 15px; }

.ph-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7.5px; }

.ph-row div {
  height: 2px;
  margin-bottom: 7.5px;
  background-color: #545454;
  margin: .2rem;
  background-image: linear-gradient(269deg, #989797 -40px, #6b6969 40px, #656161 92px);
  background-size: 600px;
  animation: shine-lines 1.6s infinite linear; }

@keyframes shine-lines {
  0% {
    background-position: -100px; }
  40%, 100% {
    background-position: 140px; } }

.ph-row .big,
.ph-row.big div {
  height: 20px;
  margin-bottom: 15px; }

.ph-row .empty {
  background-color: rgba(255, 255, 255, 0); }

.ph-col-2 {
  flex: 0 0 16.66667%; }

.ph-col-4 {
  flex: 0 0 33.33333%; }

.ph-col-6 {
  flex: 0 0 50%; }

.ph-col-8 {
  flex: 0 0 66.66667%; }

.ph-col-10 {
  flex: 0 0 83.33333%; }

.ph-col-12 {
  flex: 0 0 100%; }

.ph-avatar {
  position: relative;
  width: 100%;
  min-width: 60px;
  background-color: #ced4da;
  margin-bottom: 15px;
  border-radius: 50%;
  overflow: hidden; }

.ph-avatar:before {
  content: " ";
  display: block;
  padding-top: 100%; }

.ph-picture {
  width: 100%;
  height: 120px;
  background-color: #ced4da;
  margin-bottom: 15px; }

@-webkit-keyframes phAnimation {
  0% {
    transform: translate3d(-30%, 0, 0); }
  to {
    transform: translate3d(30%, 0, 0); } }

@keyframes phAnimation {
  0% {
    transform: translate3d(-30%, 0, 0); }
  to {
    transform: translate3d(30%, 0, 0); } }
