* {
  outline: none; }

body.custom-background {
  background-color: #ffffff !important; }

p {
  font-family: 'GT Pressura Mono';
  font-size: 1.3rem; }

h1, h2, h3, h4, h5 {
  font-family: 'GT Pressura Mono'; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

.full-view {
  height: 100vh; }

.site-title a {
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: 'nimbus_sans'; }

.home-page-hero-wrapper {
  height: 100vh; }
  .home-page-hero-wrapper .left-section {
    width: 50%;
    height: 100vh;
    float: left;
    position: relative; }
    .home-page-hero-wrapper .left-section .background-image-wrapper {
      position: absolute;
      top: 14vh;
      right: -3px;
      height: 70vh; }
      .home-page-hero-wrapper .left-section .background-image-wrapper img {
        height: 100%; }
  .home-page-hero-wrapper .right-section {
    width: 50%;
    height: 100vh;
    float: left;
    background-color: #E97504;
    position: relative; }
    .home-page-hero-wrapper .right-section .background-image-wrapper {
      position: absolute;
      top: 14vh;
      left: 0;
      z-index: 13;
      height: 70vh; }
      .home-page-hero-wrapper .right-section .background-image-wrapper img {
        height: 100%; }
      .home-page-hero-wrapper .right-section .background-image-wrapper h3 {
        position: absolute;
        top: 44%;
        font-size: 6rem;
        letter-spacing: .5rem;
        left: -76%;
        color: #fff;
        font-family: 'GT Pressura Mono Bold'; }
  .home-page-hero-wrapper .heading-wrapper {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9; }
    .home-page-hero-wrapper .heading-wrapper .inner-wrapper {
      display: table-cell;
      vertical-align: middle; }
      .home-page-hero-wrapper .heading-wrapper .inner-wrapper h3 {
        font-family: 'GT Pressura Mono Bold';
        font-size: 6rem;
        letter-spacing: .5rem;
        color: #E97504; }
      .home-page-hero-wrapper .heading-wrapper .inner-wrapper .white-text-center {
        text-align: center; }
        .home-page-hero-wrapper .heading-wrapper .inner-wrapper .white-text-center h3 {
          color: #fff;
          z-index: 14; }
      .home-page-hero-wrapper .heading-wrapper .inner-wrapper .black-text-right {
        text-align: right; }
        .home-page-hero-wrapper .heading-wrapper .inner-wrapper .black-text-right h3 {
          color: #000; }

.post-container {
  margin-top: 10rem;
  padding-bottom: 10rem; }
  .post-container .grid-item {
    width: 49%;
    margin-bottom: 7px; }
  .post-container .text-block {
    width: 49%;
    height: 120px;
    font-family: "GT Pressura Mono";
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .1rem;
    line-height: 2rem;
    padding-left: 3rem; }
  .post-container .gutter-sizer {
    width: 4%; }
  .post-container .grid-sizer {
    width: 49%; }

p.services-title {
  font-family: 'GT Pressura Mono';
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 2rem; }

figure.wp-block-image.service-title figcaption {
  text-align: left;
  font-family: 'GT Pressura Mono Light';
  letter-spacing: 4px;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.services-text {
  text-align: left;
  font-family: 'GT Pressura Mono Light';
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  width: 80%; }

section.wp-block-uagb-section.uagb-section__wrap.uagb-section__background-image.alignfull.services-section {
  padding-top: 9rem !important;
  padding-bottom: 9rem !important; }

figure.wp-block-image.service-title {
  margin-bottom: 1rem !important; }

.project-wrapper {
  padding-top: 10rem !important; }
  .project-wrapper .project-description {
    font-family: 'GT Pressura Mono Light';
    color: #fff;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    width: 80%; }
  .project-wrapper .wp-block-image {
    margin: 0rem; }

.alignfull {
  margin-top: 0px;
  margin-bottom: 0px; }

.project-heading-code {
  font-size: 3.5rem;
  width: 90%;
  line-height: 4rem;
  color: #fff;
  font-family: "GT Pressura Mono"; }
  .project-heading-code span {
    color: #B8C1CB; }

.clients-logo .uagb-post__image {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  text-align: center; }

.clients-logo a {
  display: table-cell;
  vertical-align: middle;
  align-content: center; }

.clients-logo .uagb-post__image img {
  display: inline-block;
  width: initial; }

.clients-logo .uagb-post__inner-wrap {
  background-color: #fff !important; }

#site-footer {
  font-size: 1.8rem;
  padding: 1.3rem 0;
  background-color: #000; }

.footer-copyright {
  font-weight: 300;
  color: #fff;
  font-family: 'GT Pressura Mono Light';
  font-size: 1.2rem; }
  .footer-copyright a:hover {
    color: #fff; }

a.to-the-top {
  color: #fff;
  font-family: 'GT Pressura Mono Light';
  font-size: 1rem; }

#art-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; }

#lines {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 12; }

.meetsection {
  position: absolute;
  top: 19%;
  left: 37.9%;
  z-index: 19;
  border-radius: 19px; }
  .meetsection h3 {
    position: relative;
    text-align: center;
    top: 47%;
    font-size: 5rem;
    letter-spacing: .7rem;
    font-family: "GT Pressura Mono bold";
    color: #fff;
    transition: all 2s;
    z-index: 1;
    cursor: pointer; }
  .meetsection .movedown {
    top: 73%; }
  .meetsection .meet-right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    float: right;
    right: 0;
    overflow: hidden; }
    .meetsection .meet-right img {
      width: 90%;
      opacity: 0; }
    .meetsection .meet-right .title {
      display: inline-block;
      width: 100%;
      position: absolute;
      color: #fff;
      font-size: 1.3rem;
      font-family: 'GT Pressura Mono Light';
      bottom: 3%;
      opacity: 0;
      left: 7%; }
    .meetsection .meet-right a {
      color: #fff;
      width: 100%;
      display: block;
      clear: both;
      position: absolute;
      bottom: 0%;
      opacity: 0;
      left: 7%; }
    .meetsection .meet-right a:hover {
      color: #fff; }
  .meetsection .meet-left {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 6px;
    float: left;
    overflow: hidden; }
    .meetsection .meet-left img {
      width: 90%;
      opacity: 0;
      float: right; }
    .meetsection .meet-left .title {
      display: block;
      width: 100%;
      position: absolute;
      color: #fff;
      font-size: 1.3rem;
      font-family: 'GT Pressura Mono Light';
      bottom: 3%;
      opacity: 0; }
    .meetsection .meet-left a {
      color: #fff;
      width: 100%;
      display: block;
      clear: both;
      position: absolute;
      bottom: 0%;
      opacity: 0; }
    .meetsection .meet-left a:hover {
      color: #fff; }

.contact-block {
  border-radius: 10px; }
  .contact-block .no-padding {
    padding-left: 0;
    padding-right: 0; }
    .contact-block .no-padding img {
      border-radius: 15px 0px 0px 15px;
      background-color: transparent; }
  .contact-block .black-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100.2%;
    background-color: #000000d9;
    border-radius: 0px;
    border-radius: 14px 0px 0px 15px;
    display: table; }
    .contact-block .black-overlay .inner-text-holder {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding-bottom: 3rem; }
      .contact-block .black-overlay .inner-text-holder span.code-orange {
        font-size: 2rem;
        color: #E97504;
        font-family: 'GT Pressura Mono'; }
      .contact-block .black-overlay .inner-text-holder span.code-white {
        font-family: 'GT Pressura Mono Bold';
        font-size: 2.2rem;
        color: #fff; }
  .contact-block .bg-color {
    background-color: #373737;
    border-radius: 0px 14px 14px 0px; }
  .contact-block .contant-form-container {
    width: 80%;
    margin: 6rem auto; }
    .contact-block .contant-form-container h4 {
      color: #fff;
      font-size: 1.4rem;
      font-family: 'GT Pressura Mono Light'; }
    .contact-block .contant-form-container .float-left {
      width: 50%;
      float: left !important;
      clear: unset !important; }
    .contact-block .contant-form-container li input[type=text] {
      background-color: transparent !important;
      border: 0px !important;
      border-bottom: 1px solid #e97504 !important;
      color: #fff !important;
      font-family: 'GT Pressura Mono Light' !important;
      font-size: 1.2rem !important; }
    .contact-block .contant-form-container li textarea {
      background-color: transparent;
      border-color: transparent;
      font-family: 'GT Pressura Mono Light' !important;
      color: #fff;
      font-size: 1.2rem !important; }
    .contact-block .contant-form-container .gform_footer.top_label {
      text-align: center; }
    .contact-block .contant-form-container input#gform_submit_button_1 {
      background-color: #E97504;
      border-radius: 42px;
      padding-left: 3rem;
      padding-right: 3rem;
      text-decoration: none !important;
      margin: 0 auto !important;
      width: 230px;
      font-family: 'GT Pressura Mono Light';
      font-size: 1.1rem; }
    .contact-block .contant-form-container .gform_wrapper div.validation_error {
      color: #fff;
      font-size: 1.1em;
      font-weight: 500;
      margin-bottom: 25px;
      border-top: 1px solid #E97504;
      border-bottom: 1px solid #E97504;
      padding: 16px 0 16px 0;
      clear: both;
      width: 100%;
      text-align: center;
      font-family: 'GT Pressura Mono Light' !important; }
    .contact-block .contant-form-container .gform_wrapper li.gfield.gfield_error {
      background-color: rgba(255, 223, 224, 0);
      margin-bottom: 6px !important;
      border-top: 0;
      border-bottom: 0px;
      padding-bottom: 0px;
      padding-top: 0px; }
    .contact-block .contant-form-container .gform_wrapper .validation_message {
      color: #E97504;
      font-weight: 400;
      letter-spacing: normal;
      font-family: 'GT Pressura Mono Light';
      font-size: 1.0rem; }
    .contact-block .contant-form-container div#gform_confirmation_message_1 {
      padding-top: 5rem;
      color: #fff;
      font-size: 1.2rem;
      font-family: 'GT Pressura Mono Light'; }

.contact-section {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important; }

#site-header {
  z-index: 100 !important;
  position: absolute;
  width: 100%;
  background: transparent; }

#site-content section {
  padding: 0; }
  #site-content section:before {
    content: '';
    height: 70px;
    width: 15px;
    position: relative;
    top: 10px;
    display: block; }

.section-inner.thin.error404-content {
  padding-top: 10%; }

.address {
  color: #E97504; }
  .address span {
    color: #fff; }

#site-footer {
  background-color: #2A2A2A;
  padding-top: 4rem;
  padding-bottom: 4rem; }

span.footer.to-the-top-long {
  font-size: 2.3rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: 'nimbus_sans';
  color: #fff;
  position: relative;
  top: 10px; }

.slick-slide img {
  padding: 10%; }

/**********************************************************************************
  Menu Css 
**********************************************************************************/
#nav-icon1 {
  width: 38px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float: left; }

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 9px;
  left: 4px; }

#nav-icon1 span:nth-child(3) {
  top: 18px;
  left: -2px; }

#nav-icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.menu-text {
  float: left;
  font-family: 'GT Pressura Mono';
  color: #fff;
  font-size: 1.8rem;
  padding-left: 1.5rem;
  letter-spacing: 1px;
  line-height: 1; }

.menu-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #000000e6;
  display: none; }

.menu-inner-wrap {
  display: table-cell;
  vertical-align: middle; }

.menu-inner-wrap .section-inner {
  width: 310px; }

.modal-menu li {
  border: 0; }

.modal-menu li a {
  color: #fff;
  font-family: 'GT Pressura Mono';
  font-size: 2rem !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  padding: 0.5rem 0 !important;
  text-align: center;
  text-decoration: none; }
  .modal-menu li a:hover {
    text-decoration: none; }

.showMenu {
  display: table; }

.header-inner {
  justify-content: space-between;
  display: flex; }

/*********************************************************************************************

        MOBILE CSS

**********************************************************************************************/
@media only screen and (max-width: 600px) {
  .post-container .grid-item {
    width: 100%; }
  .vcenter-outer-div {
    width: 100%;
    z-index: 9; }
  #site-content section:before {
    content: '';
    height: 0; }
  .project-heading-code {
    width: 100%; }
  .project-wrapper .project-description {
    width: 100%; }
  .project-wrapper .project-description {
    font-size: 1.5rem; }
  .wp-block-cgb-card .card__title {
    font-size: 3.5rem; }
  .card__body {
    font-size: 1.5rem; }
  .services-section p.services-title {
    text-align: center; }
  .services-section .wp-block-image img {
    display: inline-block; }
  .services-section .service-title {
    text-align: center; }
    .services-section .service-title figcaption {
      text-align: center !important; }
  .services-section .services-text {
    text-align: center;
    width: 100%; }
  .header-titles-wrapper {
    align-items: center;
    display: flex;
    padding: 0 0rem; }
  .single-projects .wp-block-column.right-col {
    padding: 0.6rem !important; }
    .single-projects .wp-block-column.right-col .project-description {
      font-size: 1.5rem; }
  .contact-block .contant-form-container .float-left {
    width: 99%;
    float: left !important;
    clear: unset !important; }
  .contact-section {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important; } }
