@font-face {
    font-family: 'GT Pressura Mono';
    src: url("./assets/fonts/GTPressuraMono.eot");
    src: url("./assets/fonts/GTPressuraMono.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/GTPressuraMono.woff2") format("woff2"), url("./assets/fonts/GTPressuraMono.woff") format("woff"), url("./assets/fonts/GTPressuraMono.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'GT Pressura Mono Light';
    src: url("./assets/fonts/GTPressuraMono-Light.eot");
    src: url("./assets/fonts/GTPressuraMono-Light.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/GTPressuraMono-Light.woff2") format("woff2"), url("./assets/fonts/GTPressuraMono-Light.woff") format("woff"), url("./assets/fonts/GTPressuraMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal; }
  
  @font-face {
    font-family: 'GT Pressura Mono Bold';
    src: url("./assets/fonts/GTPressuraMono-Bold.eot");
    src: url("./assets/fonts/GTPressuraMono-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/GTPressuraMono-Bold.woff2") format("woff2"), url("./assets/fonts/GTPressuraMono-Bold.woff") format("woff"), url("./assets/fonts/GTPressuraMono-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal; }
  
  @font-face {
    font-family: 'nimbus_sans';
    src: url("./assets/fonts/nimbussansdotboldextended-webfont.woff2") format("woff2"), url("./assets/fonts/nimbussansdotboldextended-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  