/*
 Single Projects Page
*/
@import 'variables';

.single-projects
{

    .site-title a
    {
        color:$white;
        
      &:hover{
          text-decoration:none;

      }   
    }

    .project-heading-code {
        padding-top: 4rem;
        padding-bottom:2rem;
    }

    p.project-description {
        font-size: 1.3rem;
        color:$white;
        font-family: "GT Pressura Mono";	
    }

    .wp-block-column.right-col {
        padding: 3rem;
    }

    #site-content section {
        padding:2rem 0rem;
    }

}